{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Mis Compras</h1>

<main class="container" id="orders">
    <div class="fs-2 mb-3 d-flex justify-content-center align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-cart-x"
            viewBox="0 0 16 16">
            <path
                d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z">
            </path>
            <path
                d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z">
            </path>
        </svg>
        <h1>Aún no has realizado compras …</h1>
    </div>

</main>

<div class="fs-2 mb-3 d-flex justify-content-center align-items-center">
    <a href="/" class="btn btn-primary btn-block btn-lg" style="color:white">Ir a comprar</a>
</div>



{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/order.js' %}"></script>

<script>
    let userid = {{ user.id| safe }}
</script>

{% endblock extra_js %}