{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Ordenes Pagadas</h1>

<main class="container" id="orders">

</main>

<nav aria-label="Page navigation" class="mt-5">
    <ul class="pagination justify-content-center" id="pageitems">

    </ul>
</nav>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/report.js' %}"></script>

{% endblock extra_js %}