{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link href="{% static 'css/store.css' %}" rel="stylesheet" />
{% endblock extra_css %}

{% block content %}

<main class="grid" id="products">

</main>


<nav aria-label="Page navigation" class="mt-5">
    <ul class="pagination justify-content-center" id="pageitems">

    </ul>
</nav>


<!-- Modal -->
<div class="modal fade " id="cart" tabindex="-1" aria-labelledby="cartLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="cartLabel">CARRITO DE COMPRAS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if user.is_authenticated %}
                <div class="container" id="orderlist"></div>
                {% else %}
                <h5>Hola, para continuar con tu compra, inicia sesión </h5>
                <a href="/accounts/login" class="btn btn-primary btn-block" style="color:white">Ingresar</a>
                <h5>o crea una cuenta </h5>
                <a href="/accounts/signup" class="btn btn-primary btn-block" style="color:white">Registrarse</a>
                {% endif %}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="saveorder" disabled onclick="saveOrder()"
                    data-bs-dismiss="modal">Guardar
                    Orden</button>
                <button type="button" class="btn btn-primary" id="pay" disabled onclick="pay()"
                    data-bs-dismiss="modal">Pagar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Continuar comprando</button>
            </div>
            <div class="modal-footer">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Pago parcial" aria-label=""
                        id="partialpaymentbox" aria-describedby="button-addon2">
                    <button class="btn btn-secondary" type="button" id="partialpayment" disabled
                        onclick="partialpayment()">Pago Parcial</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'js/store.js' %}"></script>

<script>
    let userid = {{ user.id| safe }}
</script>


{% endblock extra_js %}