{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h1>Ingresar</h1>

    <form action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <input type="submit" class="btn btn-success" value="Ingresar">
    </form>
</div>
{% endblock content %}