{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2>Registrarse en E-Commerce</h2>
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
            <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
        {% endfor %}
        </p>
        {% endfor %}
        <button type="submit" class="btn btn-success">Registrarse</button>
    </form>
</div>
{% endblock content %}